.hubble-product__options .s-partner-icon {
  display: none !important;
}

.contract_copy {
  padding-left: 10px;
  padding-bottom: 15px;
}
.contracts_container {
  display: flex;
  font-size: 14px;
  align-items: center;
  text-align: center;
  color: #000;
  flex-wrap: wrap;
  .contracts_block {
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
      @media only screen and (max-width: 500px) {
        width: 60%;
        margin: 10px 10px 35px 10px;
      }
  }
  .contracts_block:hover {
    border-color: black;
    cursor: pointer;
  }
  img {
    margin: 8px 0;
    max-width: 50px;
    max-height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .contracts_selector {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 160px;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 500px) {
      width: 100%;
    }
  }
  @media only screen and (max-width: 500px) {
    // display: inline;
    display: -webkit-box;
    flex-wrap: nowrap;
    overflow-x: scroll;

  }
}
.contracts_container::after {
  content: '';
  padding-left: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 20px;
}

.contracts_container::-webkit-scrollbar {
  display: none;
}

.contracts_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#offer_tariff>div.hubble-product__options-content-inner>div>div:nth-child(1)>div>span {
  margin-top: 8px;
}


//slide show
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 500px) {
  /* The dots/bullets/indicators */
  .dots_container {
    position: absolute;
    padding: 5px 0px;
    bottom: 40px;
    right: 10em;

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    @media only screen and (max-width: 320px) {
      bottom: 50px;
      right: 5em;
    }
  }


  .active.dot {
    background-color: #1d1d1d !important;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
}


